.logo-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-right: 16px;
}

.logo-title {
  font-size: $logoFontSize;
  color: $siteColor;
  font-family: $siteFontFamily;
}
