header{
    #nav-container{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px #efeef3;
        height: 118px;

        .logo{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            .logo-picture{
                margin-right: 16px;
                width:27px;
            }
            .logo-word{
                font-family: 'Nunito', sans-serif;
                font-size: 34px;
                font-weight: 600;
                color: #16133e;
            }
        }
        nav{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            a{
                font-size: 16px;
                font-weight: 500;
                line-height: 1;
                color: #000000;
                margin-right: 62px;
                &:hover{
                    color: #007ffc;
                }
            }
            .blog{
                margin-right: 142px;
            }
        }
        .header-btn{
            .nav-btn{
                height: 46px;
                border-radius: 8px;
                border: solid 2px #16133e;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                font-weight: 500;
                line-height: 1;
                color: #000000;
                padding-left: 35px;
                padding-right: 35px;
                background-color: #fafafa;
                cursor: pointer;
                &:hover{
                    background-color: #16133e;
                    color: #fafafa;
                }
            }
            .sign-in-btn{
                margin-right: 16px;
            }
        }
    }
}