main{
    padding-top: 50px;
    .section-header{
        h2{
            text-transform: uppercase;
            font-size: 16px;
            font-weight: normal;
            line-height: 1;
            color: #87a1b6;
            margin-bottom:18px;
        }
        h4{
            font-family: 'Nunito Sans', sans-serif;
            font-weight: normal;
            font-size: 40px;
            font-weight: 600;
            line-height: 1.3;
            color: #16133e;
            margin-bottom: 15px;
        }
        p{
            font-size: 18px;
            line-height: 0.89;
            color: #5a7184;
        }
    }
    .layout{
        .project-section{
            margin-bottom: 121px;
            .project{
                float: left;
                width: 455px;
                text-align: left;
                margin-right: 121px;
                h1{
                    font-family: 'Nunito Sans', sans-serif;
                    font-size: 56px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.21;
                    letter-spacing: normal;
                    color: #16133e;
                    margin-bottom: 25px;
                }
                p{
                    font-size: 19px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.89;
                    letter-spacing: normal;
                    color: #183b56;
                    margin-bottom: 36px;
                }
                .project-btn{
                    height: 46px;
                    border-radius: 8px;
                    border: solid 2px  #007ffc;
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1;
                    color: #007ffc;
                    padding-left: 35px;
                    padding-right: 35px;
                    background-color: #fafafa;
                    margin-right: 23px;
                    cursor: pointer;
                    &:hover{
                        background-color:  #007ffc;
                        color: #fafafa;
                    }
                }
            }
        }
        .services{
            .section-header{
                margin-bottom: 64px;
            }
            .services-container{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 203px;
                .services-item{
                    flex: 1;
                    border: solid 1px #efeef3;
                    border-radius: 8px;
                    box-sizing:border-box;
                    padding: 42px 42px 42px;
                    margin-right: 38px;
                    .icon{
                        width: 72px;
                       border: solid 1px #efeef3;
                       border-radius: 16px;
                       padding: 15px;
                       box-sizing: border-box;
                       margin-bottom: 28px;
                       svg{
                           display: block;
                           margin: 0 auto;
                       }
                    }
                    h3{
                        font-size: 24px;
                        font-weight: normal;
                        line-height: 2.17;
                        color: #16133e;
                    }
                    .item-text{
                        font-size: 16px;
                        font-weight: normal;
                        line-height: 1.75;
                        color: #16133e;
                        margin-bottom: 36px;
                    }
                    a{
                        font-size: 16px;
                        font-weight: normal;
                        line-height: 1.75;
                        color: #16133e;
                        &:hover{
                            color: #007ffc;
                        }
                    }
                }
                .services-item:last-child{
                    margin-right:0;
                }
            }
        }
        .experience-section{
            .section-header{
                margin-bottom: 90px;
            }
            .exp-container{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 203px;
                .exp-item{
                    flex: 1;
                    position: relative;
                    height: 485px;
                    margin-right: 46px;
                    background-repeat: no-repeat;
                    &:first-child{
                        background-image: url(../images/rectangle.png);
                    }
                    &:last-child{
                        background-image: url(../images/rectangle-copy-6.png);
                    }
                    p{
                        position: absolute;
                        top: 344px;
                        left: 48px;
                        padding-right: 15px;
                        font-size: 36px;
                        font-weight: normal;
                        line-height: 1.33;
                        color: #fafafa;
                        margin-bottom: 18px;
                    }
                }
                .exp-item:last-child{
                    margin-right: 0;
                }
            }
            
        }
        .plan-section{
            .section-header{
                margin-bottom: 84px;
            }
            .plan-container{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                margin-bottom: 197px;
                .plan-item{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #ffffff;
                    box-shadow: 0 2px 35px 0 rgba(0, 0, 0, 0.03);
                    border-top: solid 4px #0593fa;
                    box-sizing: border-box;
                    padding: 56px 76px 56px 76px;
                    margin-right: 26px;

                    &:first-child{
                        border-top: solid 4px #56cbae;
                        .item-price{
                            color: #56cbae;
                        }
                    }
                    &:last-child{
                        border-top: solid 4px #fa6770;
                        margin-right: 0;
                        .item-price{
                            color: #fa6770;
                        }
                    }
                    h3{
                        font-size: 24px;
                        font-weight: normal;
                        line-height: 1.33;
                        color: #16133e;
                        margin-bottom: 31px;
                    }
                    .item-price{
                        font-family: Roboto;
                        font-size: 40px;
                        font-weight: bold;
                        line-height: 1.3;
                        color: #0593fa;
                        margin-bottom: 3px;
                    }
                    p{
                        text-align: center;
                        width: 200px;
                        word-break: break-all;
                        font-size: 16px;
                        font-weight: normal;
                        line-height: 1.5;
                        color: #87a1b6;
                        margin-bottom: 50px;
                    }
                    .plan-btn{
                        height: 50px;
                        border-radius: 23px;
                        border: solid 2px  #16133e;
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 1;
                        color: #16133e;
                        padding-left: 50px;
                        padding-right: 50px;
                        background-color: #fafafa;
                        &:hover{
                            background-color:  #16133e;
                            color: #fafafa;
                        }
                    }
                }
            }
        }
        .probation-section{
            text-align: center;
            .blue-rectangle{
                height: 387px;
                border-radius: 15px;
                background-position: center;
                box-shadow: 0 2px 35px 0 rgba(0, 0, 0, 0.03);
                background-image: url(../images/rectangle-copy-13.png);
                background-repeat: no-repeat;
                margin-bottom: 193px;
                h2{
                    padding-top: 100px;
                    font-size: 40px;
                    font-weight: normal;
                    line-height: 1.3;
                    color: #fafafa;
                    margin-bottom: 32px;
                }
                p{
                    font-size: 18px;
                    font-weight: normal;
                    line-height: 0.89;
                    color: #fafafa;
                    margin-bottom: 46px;
                }
                .probation-btn{
                    height: 50px;
                    border-radius: 23px;
                    border: solid 2px  #fafafa;
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1;
                    color: #fafafa;
                    padding-left: 35px;
                    padding-right: 35px;
                    background-color: transparent;
                    margin-right: 23px;
                    &:hover{
                        background-color:  #fafafa;
                        color: #16133e;
                    }
                }
            }
        }
    }
}