.srh-results{
    background-color: #e7e5e5;
    padding: 20px 0 20px 0;
    .srh-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        font-weight: 700;

        .sort-by{
            display: flex;
            align-items: center;
            p{
                font-weight: 400;
                margin-right: 40px;
            }
            .sort-by-radio-btn{
                margin-right: 40px;
                &:last-child{
                    margin-right: 0;
                }
                input[type=radio]{
                    display: none;
                    &:checked + label{
                        color:#e95656;
                    }
                }
                label{
                    display: block;
                    cursor: pointer;
                    user-select: none;
                }
            }
        }
    }
}