.movie-list-container{
    .films-list{
        background-color: #f3f3f3;
        padding: 60px 0 0 0;
        .films-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
        .empty-search{
            text-align: center;
            font-size: 36px;
            padding: 30px
        }
    }
}