.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    padding: 20px 0px 20px 0px;

    .current-page{
        display:inline-block;
        height: 38px;
        line-height: 38px;
        background-color: #1b1b1b;
        font-size: 16px;
        font-weight: 700;
        color: #e7e5e5;
        padding: 0px 10px 0px 10px;
        margin: 0px 2px 0px 2px;
    }
    button{
        border:none;
        background-color: #e7e5e5;
        color: #000000;
        font-size: 16px;
        font-weight: 500;
        padding: 10px;
        margin: 0px 2px 0px 2px;
        cursor:pointer;
        &:hover{
            background-color:#e95656;

        }
    }

}





.page-number{
    display:inline-block;
    width: 40px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    background:#e7e5e5;
    columns: #000000;;
    margin-right: 10px;
    margin-bottom: 10px;

}
.active-page{
    color: #e95656;
}