html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
i,
ul,
li,
label,
aside,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font: inherit; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #000; }

i {
  font-style: normal; }

footer,
header,
menu,
section {
  display: block; }

img {
  display: block; }

*,
::before,
::after {
  box-sizing: border-box;
  /* intuitive sizing */ }

.container {
  max-width: 1158px;
  margin: 0 auto; }

.btn {
  display: block;
  border: 2px solid #16133d;
  border-radius: 8px;
  background-color: #fff;
  color: #16133d;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 15px 35px;
  cursor: pointer; }
  .btn:hover {
    background-color: #16133d;
    color: #fff; }

.header-container {
  display: flex;
  padding-top: 33px;
  padding-bottom: 39px;
  border-bottom: 1px solid #efeef3; }

.logo-container {
  flex: 1;
  display: flex; }

.login-buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.btn-singin {
  margin-right: 15px; }

.btn-login {
  margin-right: 13px; }

.logo-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative; }

.logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-right: 16px; }

.logo-title {
  font-size: 26px;
  color: #16133d;
  font-family: "Nunito Sans", sans-serif; }

.nav {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.nav-link {
  padding: 15px 28px;
  font-family: "Roboto", sans-serif;
  color: #000; }
  .nav-link:hover {
    opacity: .8; }

.nav-link, .active {
  font-family: "Arimo", sans-serif; }

.card {
  flex: 1;
  margin-right: 38px; }

.card:last-of-type {
  margin-right: 0; }

.card-title {
  font-size: 24px;
  color: #16133d;
  font-family: "Roboto", sans-serif; }

.info-container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px; }

.info {
  width: 40%; }

.info-section-img {
  width: 50%;
  height: 420px; }

.info-title,
.services-title,
.price-title {
  font-family: "Nunito Sans", sans-serif; }

.info-title {
  font-size: 56px;
  color: #16133d;
  line-height: 1.21em;
  margin-bottom: 25px; }

.info-about,
.services-subtitle,
.services-about,
.cost,
.card-link,
.card-description,
.example-img-caption,
.price-long,
.price-info,
.getstarted-title,
.getstarted-about {
  font-family: "Roboto", sans-serif; }

.info-about {
  font-size: 18px;
  color: #5a7184;
  line-height: 1.89em; }

.info-btns {
  margin-top: 35px;
  display: flex;
  justify-content: start; }

.btn-projects,
.btn-learnmore {
  margin-right: 23px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: #007ffc;
  background-color: #fff;
  border: 2px solid #007ffc; }
  .btn-projects:hover,
  .btn-learnmore:hover {
    background-color: #007ffc;
    color: #fff;
    border: 2px solid #007ffc; }

.btn-learnmore {
  margin-right: 0; }

.info-section-img {
  display: flex;
  align-items: flex-start; }

.info-container-img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative; }

.info-img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px; }

.btn-getstarted {
  border-radius: 50px;
  padding: 17px 50px; }

.services {
  padding-top: 121px;
  padding-bottom: 82px; }

.services-subtitle {
  font-size: 16px;
  color: #87a1b6;
  text-transform: uppercase;
  margin-bottom: 18px; }

.services-title,
.price-title {
  font-size: 40px;
  color: #16133d;
  margin-bottom: 15px; }

.services-about {
  margin-bottom: 64px; }

.services-about,
.price-info {
  font-size: 18px;
  color: #87a1b6; }

.services-list {
  display: flex; }

.service-card {
  border: 1px solid #e5eaf4;
  border-radius: 8px;
  padding: 42px 45px; }

.card-logo {
  width: 62px;
  height: 66px;
  border: 1px solid #e5eaf4;
  border-radius: 16px;
  padding: 15px 11px;
  display: flex;
  justify-content: center; }

.card-title {
  font-size: 24px;
  color: #16133d;
  padding: 42px 0; }

.card-description {
  font-size: 16px;
  line-height: 1.75em;
  color: #16133e;
  margin-bottom: 18px; }

.card-link {
  padding: 18px 0;
  color: #16133e; }
  .card-link:hover {
    color: #16133d; }

.services-examples {
  display: flex; }

.service-img {
  flex: 1;
  position: relative; }

.service-img:first-of-type {
  margin-right: 47px; }

.example-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px; }

.example-img-caption {
  position: absolute;
  font-size: 36px;
  bottom: 0;
  color: #fff;
  padding: 0 22px 45px 48px;
  z-index: 2; }

.price {
  padding-top: 118px;
  padding-bottom: 193px; }

.price-list {
  display: flex;
  padding-top: 54px; }

.price-card {
  padding: 51px 77px 56px 77px;
  border-top: 4px solid #56cbae;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 35px 0 rgba(0, 0, 0, 0.03); }
  .price-card .cost {
    font-size: 40px;
    font-weight: bold;
    color: #56cbae;
    padding: 6px; }

.price-card:first-of-type {
  border-top: 4px solid #0593fa; }
  .price-card:first-of-type .cost {
    color: #0593fa;
    font-weight: bold; }

.price-card:last-of-type {
  border-top: 4px solid #fa6770; }
  .price-card:last-of-type .cost {
    color: #fa6770;
    font-weight: bold; }

.card-price-title {
  padding: 0;
  margin-bottom: 31px; }

.price-long {
  padding: 4px;
  color: #87a1b6;
  margin-bottom: 32px; }

.price-info {
  line-height: 1.75rem;
  margin-bottom: 54px;
  text-align: center; }

.getstarted-section {
  height: 387px;
  margin-bottom: 197px;
  position: relative; }

.getstarter-container-background {
  display: block;
  width: 100%;
  height: 100%;
  position: relative; }

.img-background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.getstarted {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }

.getstarted-title {
  margin: 100px 0 32px 0;
  font-size: 40px;
  color: #fff; }

.getstarted-about {
  font-size: 18px;
  color: #fff;
  margin-bottom: 46px; }

.getstarted-container-btns {
  display: flex;
  justify-content: center; }

.btn-try,
.btn-watch {
  padding: 17px 50px;
  border-radius: 50px; }

.btn-try,
.btn-watch {
  margin-right: 7px;
  font-size: 16px;
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent; }
  .btn-try:hover,
  .btn-watch:hover {
    background-color: #fff;
    color: #16133e; }

.btn-watch {
  margin-right: 0; }

.footer {
  background-color: #16133d; }
  .footer .logo-title {
    color: #fff; }
  .footer .logo-container {
    margin-bottom: 29px; }

.footer-container {
  padding-bottom: 74px; }

.footer-content {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 146px; }

.social-network-section {
  display: flex;
  flex-direction: column;
  max-width: 300px; }

.footer-slogan {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
  margin-bottom: 60px; }

.social-network-list {
  display: flex;
  justify-self: start; }

.social-network-link {
  width: 38px;
  height: 38px;
  padding: 9px;
  border-radius: 5px;
  background-color: #efeef3;
  margin-right: 9px;
  cursor: pointer; }

.footer-nav {
  width: 60%;
  display: flex; }

.footer-nav-item {
  margin-right: 14px;
  flex: 1; }

.footer-nav-item:last-of-type {
  width: 40%;
  margin-right: 0; }

.footer-item-title,
.footer-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
  margin-bottom: 38px;
  text-transform: uppercase; }

.footer-list {
  display: flex;
  flex-direction: column; }

.footer-link {
  font-size: 15px;
  margin-bottom: 14px;
  text-transform: none; }

.email-link {
  font-size: 25px; }

.contact-btn-container {
  display: flex;
  justify-content: flex-start; }
  .contact-btn-container .logo {
    width: 100px;
    height: 40px; }

.btn-contact-logo {
  display: block;
  width: 100%;
  height: 100%;
  position: relative; }

.btn-contact {
  width: 106px;
  height: 41px;
  display: flex;
  align-items: center; }

.btn-gdpr {
  margin-right: 20px; }

.footer-copyright {
  text-align: center;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #fff; }
