$lightColor: #fff;
$mainTitleColor: #dc143c;
$genreBtnBackGroundColor: #c9c2c2;
$searchResultSectionBackGroundColor: #C9C2C2;
$filmTitleColor: #6d6969;
$footerBackGroundColor: #493e3e;
$noResultBackGroundColor: #edecec;
$searchByBtnFontSize: 20px;
$searchBtnFontSize: 26px;
$filmGenre: 18px;
