$siteWidth: 1440px;
$siteWidthMiddleLg: 900px;
$siteWidthMiddle: 700px;
$siteWidthSmall: 400px;
$siteFontSize: 16px;
$logoFontSize: 26px;
$contentFontSize: 18px;
$sectionTitleFontSize: 40px;
$mainTitleFontSize: 56px;
$cardCaptionFontSize: 36px;
$cardTitle: 24px;
$footerLinksFontSize: 15px;
$emailLinkFontSize: 25px;
$siteColor: #16133d;
$navLinksColor: #000;
$lightFontColor: #fff;
$headerUnderLineColor: #efeef3;
$contentColor: #5a7184;
$sectionSubtitleColor: #87a1b6;
$infoBtnsColor: #007ffc;
$cardBorderColor: #e5eaf4;
$cardDescriptionColor: #16133e; 
$firstPriceCardTopLineColor: #0593fa;
$secondPriceCardTopLineColor: #56cbae;
$thirdPriceCardTopLineColor: #fa6770;
$siteFontFamily: 'Nunito Sans', sans-serif;
$baseFontFamily: 'Roboto', sans-serif;
$hoverNavLinkFontFamily: 'Arimo', sans-serif;
