@import "src/components/styles/variables";

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 0 16px 3px $searchResultSectionBackGroundColor;
  min-height: 610px;

  &:hover {
    box-shadow:  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  @media (min-width: 1200px) {
    min-height: 670px;
  }
}

.poster {
  width: 100%;
  height: 480px;
  object-fit: cover;
  margin-bottom: 10px;
}

.section-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 5px 10px;
}

.film-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
}

.film-genres {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.film-title,
.film-genre {
  font-size: $searchBtnFontSize;
  color: $filmTitleColor;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-right: 5px;
}

.film-genre {
  border: 1px solid $genreBtnBackGroundColor;
  border-radius: 3px;
  padding: 4px;
  margin-bottom: 5px;
  font-size: $filmGenre;
}

.release {
  font-size: $releaseFontSize;
  color: $filmTitleColor;
  margin-bottom: 8px;
}

.film-rating-info {
  display: flex;
  flex-direction: column;
}

.film-rating {
  font-size: $releaseFontSize;
  color: $filmTitleColor;
}
