.container {
  max-width: $siteWidth;
  margin: 0 auto;
  // background:no-repeat center/contain  url(/img/background-decor.png);
  background:no-repeat center/cover  url(/img/background-decor@3x.png);
  border: 1px solid red;
  padding: 0 160px;
  position: relative
}
