.header-container {
  display: flex;
  padding-top: 33px;
  padding-bottom: 39px;
  border-bottom: 1px solid $headerUnderLineColor;
}

.logo-container {
  flex: 1;
  display: flex;
}

.login-buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-singin {
  margin-right: 15px;
}

.btn-login {
  margin-right: 13px;
}
